<template name="FixedMainMenu">
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui large secondary inverted pointing menu">
            <div class="ui container">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a class="{{ HomeStatusRoute }} item" href="/">Home</a>
                <a class="{{ SmartphoneStatusRoute }} item" href="smartphone">Smartphone</a>
                <a class="right item" id="showsearch2">
                    <i class="search icon"></i> Search
                </a>
            </div>
        </div>

        <div class="ui text container">
            <img src="/resources/logokitaripiu.png">
            <h2 class="ui inverted">
                    Review and Compare your Favorite phone
                </h2>

        </div>
        <form action="versus">


        <div class="ui text container">
            <div class="ui center aligned header">
                <div class="ui two column doubling stackable grid">
                    <div class="column">
                        <div class="ui small icon input">
                            <input type="text" placeholder="Iphone 4s" />
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui small icon input">
                            <input type="text" placeholder="Iphone 4s" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="ui inverted white button margintop1">Versus</button>
        </form>

    </div>
</template>
