<template name="FixedMainMenu">
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui large secondary inverted pointing menu">
            <div class="ui container">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a class="{{ HomeStatusRoute }} item" href="/">Home</a>
                <a class="{{ SmartphoneStatusRoute }} item" href="/smartphone">Smartphone</a>
                <a class="right item" id="showsearch2">
                    <i class="search icon"></i> Search
                </a>
            </div>
        </div>

        {{> VersusHeader }}

    </div>
</template>
