<template name="VersusHeader">

    <div class="ui text container">
        <img src="/resources/logokitaripiu.png">
        <h2 class="ui inverted">Review and Compare your Favorite phone</h2>
    </div>

    <form>
        <div class="ui text container">
            <div class="ui center aligned header">
                <div class="ui two column doubling stackable grid">
                    <div class="column">
                        <div class="ui small icon input">
                            <input name='product_1' required type="text" placeholder="Iphone 4s" />
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui small icon input">
                            <input name='product_2' required type="text" placeholder="Iphone 4s" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="ui inverted white button margintop1">Versus</button>
    </form>

</template>
