<template name="NewSmartphone">
	<h2 class="ui header">New Smartphone</h2>
    <div class="ui three column doubling stackable grid">
        <div class="column">
            <div class="ui card">
                <div class="image">
                    <img src="/products/mi5.jpg">
                </div>
                <div class="content center aligned">
                    <a class="header"><h5>Xiaomi mi5</h5></a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui card">
                <div class="image">
                    <img src="/products/mi5.jpg">
                </div>
                <div class="content center aligned">
                    <a class="header"><h5>Xiaomi mi5</h5></a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui card">
                <div class="image">
                    <img src="/products/mi5.jpg">
                </div>
                <div class="content center aligned">
                    <a class="header"><h5>Xiaomi mi5</h5></a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui card">
                <div class="image">
                    <img src="/products/mi5.jpg">
                </div>
                <div class="content center aligned">
                    <a class="header"><h5>Xiaomi mi5</h5></a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui card">
                <div class="image">
                    <img src="/products/mi5.jpg">
                </div>
                <div class="content center aligned">
                    <a class="header"><h5>Xiaomi mi5</h5></a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui card">
                <div class="image">
                    <img src="/products/mi5.jpg">
                </div>
                <div class="content center aligned">
                    <a class="header"><h5>Xiaomi mi5</h5></a>
                </div>
            </div>
        </div>


    </div>

</template>