<template name="AdminNavSection">
	
	<div class="ui large text menu">
        <div class="ui container">
            <a class="item">KitaRipiu</a>
            <div class="right menu">
                <a class="ui item" href="#"><i class="mail icon"></i></a>
                <a class="ui item" href="#"><img class="ui avatar image" src="/resources/favicon.png">
                <span>Admin</span></a>
                <div class="ui dropdown item">
                    Sign out
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item">Go to KitaRipiu</div>
                        <div class="item">Sign Out</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui large secondary inverted pointing menu">
            <div class="ui container">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>

                <div class="right menu">
                    <a class="ui item active" href="/admin"><i class="home icon"></i>
                    <span>Dashboard</span></a>
                    <a class="ui item " href="/admin/AddPhone"><i class="tablet icon"></i>
                    <span>Smartphone</span></a>
                    <a class="ui item" href="/admin/AddArticle"><i class="newspaper  icon"></i>
                    <span>Article</span></a>
                </div>
            </div>
        </div>

    </div>
</template>