<template name="BottomContent">
	<div class="ui stripe vertical segment"></div>
            <div class="ui container">
                <h2 class="ui header">Hot News</h2>
                <div class="ui seven column doubling stackable grid">
                    <div class="column">
                        <div class="ui card">
                            <div class="ui slide masked reveal image">
                                <img src="/products/mi5.jpg" class="visible content">
                                <img src="mi5_2.jpg" class="hidden content">
                            </div>
                            <div class="content">
                                <a class="header" href="News">Xiaomi mi 5</a>
                                <div class="meta">
                                    <span class="date">20 juni 2016</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui card">
                            <div class="ui slide masked reveal image">
                                <img src="/products/mi5.jpg" class="visible content">
                                <img src="mi5_2.jpg" class="hidden content">
                            </div>
                            <div class="content">
                                <a class="header" href="News">Xiaomi mi 5</a>
                                <div class="meta">
                                    <span class="date">20 juni 2016</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui card">
                            <div class="ui slide masked reveal image">
                                <img src="/products/mi5.jpg" class="visible content">
                                <img src="mi5_2.jpg" class="hidden content">
                            </div>
                            <div class="content">
                                <a class="header" href="News">Xiaomi mi 5</a>
                                <div class="meta">
                                    <span class="date">20 juni 2016</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui card">
                            <div class="ui slide masked reveal image">
                                <img src="/products/mi5.jpg" class="visible content">
                                <img src="mi5_2.jpg" class="hidden content">
                            </div>
                            <div class="content">
                                <a class="header" href="News">Xiaomi mi 5</a>
                                <div class="meta">
                                    <span class="date">20 juni 2016</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui card">
                            <div class="ui slide masked reveal image">
                                <img src="/products/mi5.jpg" class="visible content">
                                <img src="mi5_2.jpg" class="hidden content">
                            </div>
                            <div class="content">
                                <a class="header" href="News">Xiaomi mi 5</a>
                                <div class="meta">
                                    <span class="date">20 juni 2016</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui card">
                            <div class="ui slide masked reveal image">
                                <img src="/products/mi5.jpg" class="visible content">
                                <img src="mi5_2.jpg" class="hidden content">
                            </div>
                            <div class="content">
                                <a class="header" href="News">Xiaomi mi 5</a>
                                <div class="meta">
                                    <span class="date">20 juni 2016</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui card">
                            <div class="ui slide masked reveal image">
                                <img src="/products/mi5.jpg" class="visible content">
                                <img src="mi5_2.jpg" class="hidden content">
                            </div>
                            <div class="content">
                                <a class="header" href="News">Xiaomi mi 5</a>
                                <div class="meta">
                                    <span class="date">20 juni 2016</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</template>