<template name="FooterSection">
    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="five wide column">
                        <h4 class="ui centered inverted header">About Us</h4>
                        <div class="ui inverted link list">
                            <div class="item"><i class="call square icon"></i>+62852888222</div>
                            <div class="item"><i class="mail square icon"></i>contact@kitaripiu.com</div>
                        </div>
                    </div>

		    <div class="five wide column">
		        <h4 class="ui centered inverted header">Alamat</h4>
		        <div class="ui inverted link list">
		            <div class="item">
		                <p>Jl. Thamrin no 47 Medan kota Sumatera Utara</p>
		            </div>
		        </div>
		    </div>

		    <div class="six wide column">
		        <h4 class="ui centered inverted header">Social Media</h4>
		        <div class="ui inverted link list">
		            <div class="item">
		                <a target="_blank" href="https://www.facebook.com/kitaripiu"><i class="big facebook square icon"></i></a>
		                <a arget="_blank" href="https://www.facebook.com/kitaripiu"><i class="big twitter square icon"></i></a>
		                <a arget="_blank" href="https://www.instagram.com/kitaripiu"><i class="big instagram icon"></i></a>
		            </div>
		        </div>
		    </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript">
    	$('.ui.dropdown')
  		.dropdown();
    </script>
</template>
