<template name="Modal">
	<div class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            KitaRipiu
        </div>
        <div class="content">
            <div class="ui form">
                <h4 class="ui dividing header">Search</h4>
                <div class="ui icon input">
                    <input type="text" placeholder="Search..." class="large">
                    <button class="ui green button">Search</button>
                </div>

					<div class="ui two item stackable tabs menu">
							<a class="active item" data-tab="SearchPhone">Smartphone</a>
							<a class="item" data-tab="SearchArtikel">News</a>
					</div>
					<div class="ui bottom attached tab active segment" data-tab="SearchPhone">
								<div class="ui four column doubling stackable grid centered">

									<div class="column">
										 <div class="ui card">
											  <div class="ui slide masked reveal image">
													<img src="/products/mi5.jpg" class="visible content">
													<img src="/products/mi5_2.jpg" class="hidden content">
											  </div>
											  <div class="content">
													<a class="header" href="Review">Xiaomi mi 5</a>
													<div class="meta">
														 <span class="date">20 juni 2016</span>
													</div>
											  </div>
										 </div>
									</div>

									<div class="column">
										 <div class="ui card">
											  <div class="ui slide masked reveal image">
													<img src="/products/mi5.jpg" class="visible content">
													<img src="/products/mi5_2.jpg" class="hidden content">
											  </div>
											  <div class="content">
													<a class="header" href="Review">Xiaomi mi 5</a>
													<div class="meta">
														 <span class="date">20 juni 2016</span>
													</div>
											  </div>
										 </div>
									</div>

									<div class="column">
										 <div class="ui card">
											  <div class="ui slide masked reveal image">
													<img src="/products/mi5.jpg" class="visible content">
													<img src="/products/mi5_2.jpg" class="hidden content">
											  </div>
											  <div class="content">
													<a class="header" href="Review">Xiaomi mi 5</a>
													<div class="meta">
														 <span class="date">20 juni 2016</span>
													</div>
											  </div>
										 </div>
									</div>


								</div>
							</div>
					<div class="ui bottom attached tab segment" data-tab="SearchArtikel">
								<div class="ui four column doubling stackable grid centered">

									<div class="column">
										 <div class="ui card">
											  <div class="ui slide masked reveal image">
													<img src="/products/mi5.jpg" class="visible content">
													<img src="/products/mi5_2.jpg" class="hidden content">
											  </div>
											  <div class="content">
													<a class="header" href="Review">Xiaomi 6</a>
													<div class="meta">
														 <span class="date">20 juni 2016</span>
													</div>
											  </div>
										 </div>
									</div>

									<div class="column">
										 <div class="ui card">
											  <div class="ui slide masked reveal image">
													<img src="/products/mi5.jpg" class="visible content">
													<img src="/products/mi5_2.jpg" class="hidden content">
											  </div>
											  <div class="content">
													<a class="header" href="Review">Xiaomi mi 5</a>
													<div class="meta">
														 <span class="date">20 juni 2016</span>
													</div>
											  </div>
										 </div>
									</div>

									<div class="column">
										 <div class="ui card">
											  <div class="ui slide masked reveal image">
													<img src="/products/mi5.jpg" class="visible content">
													<img src="/products/mi5_2.jpg" class="hidden content">
											  </div>
											  <div class="content">
													<a class="header" href="Review">Xiaomi mi 5</a>
													<div class="meta">
														 <span class="date">20 juni 2016</span>
													</div>
											  </div>
										 </div>
									</div>


								</div>
							</div>
				</div>
        </div>
    </div>
</template>
