<template name="modal">
	<div class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            KitaRipiu
        </div>
        <div class="content">
            <div class="ui form">
                <h4 class="ui dividing header">Search Phone</h4>
                <div class="ui icon input">
                    <input type="text" placeholder="Search..." class="large">
                    <button class="ui green button">Search</button>
                </div>
            </div>
        </div>
    </div>
</template>