<template name="RightContent">

<h2 class="ui header">Recent Compare</h2>
<div class="ui card ">
    <div class="ui relaxed divided list">
        <div class="item">
            <i class="large tablet icon"></i>
            <div class="content">
                <a href="/versus/1-1" class="header">Xiaomi mi4i vs Iphone 5s</a>
                <div class="description">Versus on 2 hours ago</div>
            </div>
        </div>
        <div class="item">
            <i class="large tablet icon"></i>
            <div class="content">
                <a href="/versus/1-1" class="header">Xiaomi mi4i vs Iphone 5s</a>
                <div class="description">Versus on 2 hours ago</div>
            </div>
        </div>
        <div class="item">
            <i class="large tablet icon"></i>
            <div class="content">
                <a href="/versus/1-1" class="header">Xiaomi mi4i vs Iphone 5s</a>
                <div class="description">Versus on 2 hours ago</div>
            </div>
        </div>
        <div class="item">
            <i class="large tablet icon"></i>
            <div class="content">
                <a href="/versus/1-1" class="header">Xiaomi mi4i vs Iphone 5s</a>
                <div class="description">Versus on 2 hours ago</div>
            </div>
        </div>
        <div class="item">
            <i class="large tablet icon"></i>
            <div class="content">
                <a href="/versus/1-1" class="header">Xiaomi mi4i vs Iphone 5s</a>
                <div class="description">Versus on 2 hours ago</div>
            </div>
        </div>
        <div class="item">
            <i class="large tablet icon"></i>
            <div class="content">
                <a href="/versus/1-1" class="header">Xiaomi mi4i vs Iphone 5s</a>
                <div class="description">Versus on 2 hours ago</div>
            </div>
        </div>
    </div>
</div>

<h2 class="ui header">New Smartphone</h2>
<div class="ui three column doubling stackable grid">
    <div class="column">
        <div class="ui card">
            <div class="image">
                <img src="/products/mi5.jpg">
            </div>
            <div class="content center aligned">
                <a href="review" class="header"><h5>Xiaomi mi5</h5></a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui card">
            <div class="image">
                <img src="/products/mi5.jpg">
            </div>
            <div class="content center aligned">
                <a href="review" class="header"><h5>Xiaomi mi5</h5></a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui card">
            <div class="image">
                <img src="/products/mi5.jpg">
            </div>
            <div class="content center aligned">
                <a href="review" class="header"><h5>Xiaomi mi5</h5></a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui card">
            <div class="image">
                <img src="/products/mi5.jpg">
            </div>
            <div class="content center aligned">
                <a href="review" class="header"><h5>Xiaomi mi5</h5></a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui card">
            <div class="image">
                <img src="/products/mi5.jpg">
            </div>
            <div class="content center aligned">
                <a href="review" class="header"><h5>Xiaomi mi5</h5></a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui card">
            <div class="image">
                <img src="/products/mi5.jpg">
            </div>
            <div class="content center aligned">
                <a href="review" class="header"><h5>Xiaomi mi5</h5></a>
            </div>
        </div>
    </div>
</div>

</template>
