<template name="Price">
	<h4 class="ui horizontal divider header">
    <i class="tags icon"></i>
      Price
    </h4>
    
    <div class="ui three column grid">
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="/resources/amazon.png">
                </div>
                <div class="content">
                    <div class="header">Xiaomi Mi5</div>
                    <div class="meta">
                        <span class="price">$1200 -  $1500</span>
                    </div>
                    <div class="ui right floated primary button">
                        Check
                        <i class="right chevron icon"></i>
                    </div>
                </div>

            </div>
        </div>

        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="/resources/ebay.png">
                </div>
                <div class="content">
                    <div class="header">Xiaomi Mi5</div>
                    <div class="meta">
                        <span class="price">$1200 -  $1500</span>
                    </div>
                    <div class="ui right floated primary button">
                        Check
                        <i class="right chevron icon"></i>
                    </div>
                </div>

            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="/resources/ebay.png">
                </div>
                <div class="content">
                    <div class="header">Xiaomi Mi5</div>
                    <div class="meta">
                        <span class="price">$1200 -  $1500</span>
                    </div>
                    <div class="ui right floated primary button">
                        Check
                        <i class="right chevron icon"></i>
                    </div>
                </div>

            </div>
        </div>

    </div>
</template>