<template name="Spesification">
    <h2 class="ui header">Xiaomi Mi5</h2>
    <h4 class="ui horizontal divider header">
      <i class="tablet icon"></i>
      Phone
    </h4>
    <div class="ui container vertical masthead center aligned segment">
        <img class="review" src="/products/mi5.jpg">

    </div>

    <h4 class="ui horizontal divider header">
      <i class="bar chart icon"></i>
      Specifications
    </h4>
    <table class="ui definition table">
        <tbody>
            <tr>
                <td class="two wide column">Size</td>
                <td>1" x 2"</td>
            </tr>
            <tr>
                <td>Weight</td>
                <td>6 ounces</td>
            </tr>
            <tr>
                <td>Color</td>
                <td>Yellowish</td>
            </tr>
            <tr>
                <td>Odor</td>
                <td>Not Much Usually</td>
            </tr>
        </tbody>
    </table>
    
    <h4 class="ui horizontal divider header">
      <i class="comment icon"></i>
      Review
    </h4>


    <p>
        Semantic UI treats words and classes as exchangeable concepts. Classes use syntax from natural languages like noun/modifier relationships, word order, and plurality to link concepts intuitively. Get the same benefits as BEM or SMACSS, but without the tedium.
    </p>
    <p>
        Semantic UI treats words and classes as exchangeable concepts. Classes use syntax from natural languages like noun/modifier relationships, word order, and plurality to link concepts intuitively. Get the same benefits as BEM or SMACSS, but without the tedium.
    </p>
    <p>
        Semantic UI treats words and classes as exchangeable concepts. Classes use syntax from natural languages like noun/modifier relationships, word order, and plurality to link concepts intuitively. Get the same benefits as BEM or SMACSS, but without the tedium.
    </p>

    <!-- Video -->
    <h4 class="ui horizontal divider header">
      <i class="film icon"></i>
      Video
    </h4>
    
    <div class="ui container vertical masthead center aligned segment">
       <div class="ui embed" data-url="https://www.youtube.com/embed/pfdu_gTry8E" data-placeholder="/resources/logokitaripiu.png "></div>

    </div>
    <!--End Video -->
</template>